<div class="main">
    <div class="second">
        <div class="left">
            <i class='bx bx-envelope'>
                <a href="mailto:contact@example.com">contact@example.com</a>
            </i>
            <i class='bx bx-mobile-alt'>
                <a>+1 5589 55488 55</a>
            </i>
        </div>
        <div class="right">
            <i class='bx bxl-twitter'></i>
            <hr>
            <i class='bx bxl-facebook-circle'></i>
            <hr>
            <i class='bx bxl-instagram'></i>
            <hr>
            <i class='bx bxl-linkedin'></i>
        </div>
    </div>
</div>