.main {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.second {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.right {
    width: 150px;
    display: flex;
    justify-content: space-between;

    i {
        font-size: 1.05rem;
        color: #444;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            color: #50D8AF;
        }
    }

}


.left {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
        color: #50D8AF;
        display: flex;
        align-items: center;
    }

    .bx-envelope {
        
        a {
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                color: #50D8AF;
            }
        }
    }

    a {
        font-family: sans-serif;
        font-size: 0.9rem;
        text-decoration: none;
        margin-left: 5px;
        color: #444;
    }
}

